/* Logout Page Styling */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover,
.navbar a.active {
    background-color: #f7f7f7;
    color: white;
}

.logout-container {
    text-align: center;
    margin-top: 50px;

}

.logout-container p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
    /* Consistent text color */
}

.btn-logout {
    background-color: #f44336;
    /* Red */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: #d32f2f;
}