body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    
}

.container {
    width: 90%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    margin: auto;
}



.patient-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't affect the final width */
}

.button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    text-decoration:none
}

.button:hover {
    background-color: #0056b3;
}

.complete-container{
    position: relative;
    max-width: 800px;
    min-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    text-align: left;
    font-size: small;
}

.complete-container img {
    max-width: 30%;
    max-height: 30%;
}

.hover-div {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    text-align: right;
}

body {
    position: relative; /* Ensures the child elements can be positioned absolutely relative to the body */
}

.back-to-start {
    position: absolute; /* Position the link absolutely within the body */
    bottom: 0px; /* 20px from the bottom */
    right: 20px; /* 20px from the right */
    padding: 10px 20px; /* Padding for the button */
    background-color: #007bff; /* Example button color */
    color: white; /* Text color */
    text-decoration: none; /* Remove underline from the link */
    border-radius: 5px; /* Optional: rounds the corners of the button */
}

.back-to-start:hover {
    background-color: #0056b3; /* Darker shade when hovered for visual feedback */
}