<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Details</title>
</head>
<body>
    <h1>Match Details Submission</h1>
    <p><strong>Unique ID:</strong> {{ details.unique_id }}</p>
    <p><strong>YouTube Link:</strong> <a href="{{ details.youtube_link }}" target="_blank">{{ details.youtube_link }}</a></p>
    <p><strong>Video ID:</strong>{{details.videoid}}</p>
    <p><strong>Venue:</strong> {{ details.venue }}</p>
    <p><strong>Home Team:</strong> {{ details.home_team }}</p>
    <p><strong>Away Team:</strong> {{ details.away_team }}</p>
    <p><strong>Home Team Score:</strong> {{ details.home_team_score }}</p>
    <p><strong>Away Team Score:</strong> {{ details.away_team_score }}</p>
    <p><strong>Uploaded By:</strong> {{ details.uploaded_by }}</p>
    <p><strong>Date of Match:</strong> {{ details.date_of_match }}</p>
</body>
</html>
