<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>YouTube Timestamp Marker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="{{ url_for('static', filename='player.css') }}">
</head>

<body>
    <header class="navbar">
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('form_page') }}">Match Details</a>
            <a href="{{ url_for('logout_page') }}">Logout</a>
        </nav>
    </header>
    <div class="main-container">
        <div class="video-and-buttons">
            <div id="player" data-video-id="{{match.videoid}}" data-match-id="{{match.id}}" class="video-player"></div>
            <div class="button-container">
                <button class="mark-action" data-action="Ball in Play">Ball in Play</button>
                <button class="mark-action" data-action="Stoppage">Stoppage</button>
                <button class="mark-action" data-action="Try">Try</button>
                <button class="mark-action" data-action="Scrum">Scrum</button>
                <button class="mark-action" data-action="Lineout">Lineout</button>
                <button class="mark-action" data-action="Penalty">Penalty</button>
                <button class="mark-action" data-action="Turnover">Turnover</button>
                <button class="mark-action" data-action="Free Kick">Free Kick</button>
                <button class="mark-action" data-action="Drop Goal">Drop Goal</button>
                <button class="mark-action" data-action="Conversion">Conversion</button>
                <button class="mark-action" data-action="50m Restart">50m Restart</button>
                <button class="mark-action" data-action="22m Restart">22m Restart</button>
                <button class="mark-action" data-action="Goal Line Dropout">Goal Line Dropout</button>
            </div>
        </div>
            <div id="clips" class="clips-container"></div>
    </div>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{{ url_for('static',filename='script.js') }}"></script>
</body>

</html>