<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>YouTube Timestamp Marker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>

<body>
    <div class="register-container">
        <!-- [html-validate-disable attribute-allowed-values] -->
        <form action="{{ url_for('register_action') }}" method="POST">
            <div class="form-group">
                <label for="firstname">First Name:</label>
                <input type="text" name="firstname" placeholder="First Name" required>
            </div>
            <div class="form-group">
                <label for="surname">Surname:</label>
                <input type="text" name="surname" placeholder="Surname" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="email@gmail.com" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="submit"></button>
            </div>
        </form>
        <div class="login-link">
            <p> Already Registered? <a href="{{ url_for('login_page') }}">Login</a></p>
        </div>
    </div>
</body>

</html>