<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouTube Timestamp Marker</title>
</head>
<body>
    <form action="/play" method="post">
        <input type="text" name="youtube_link" placeholder="Paste YouTube link here">
        <button type="submit">Play Video</button>
    </form>
    
    <div id="player"></div>
    
    <button id="mark-timestamp">Mark Timestamp</button>
    <ul id="timestamps"></ul>

    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
